gcp_project_id           = "my-gcp-project-id"
bucket_name              = "my-uc-storage-bucket"
databricks_workspace_url = "https://adb-1234567890123456.12.gcp.databricks.com"
databricks_client_id     = "your-workspace-service-principal-client-id"
databricks_client_secret = "your-workspace-service-principal-client-secret"
